{
  "extends": "stylelint-config-airbnb",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-order": [
      "position",
      "top",
      "right",
      "bottom",
      "left",
      "z-index",
      "display",
      "float",
      "width",
      "height",
      "margin",
      "padding",
      "border",
      "border-radius",
      "font",
      "font-family",
      "font-style",
      "font-size",
      "line-height",
      "text-align",
      "color",
      "background-color",
      "opacity"
    ],
    "order/order": [
      "declarations",
      {
        "type": "at-rule",
        "name": "media"
      },
      {
        "type": "rule",
        "selector": "^&::(before|after)"
      },
      {
        "type": "rule",
        "selector": "^&:\\w"
      },
      {
        "type": "rule",
        "selector": "^&_"
      },
      {
        "type": "rule",
        "selector": "^."
      }
    ]
  }
}